@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable


<PageTitle>Home</PageTitle>

<ul>
    @foreach(var message in _message)
    {
        <li>@message</li>
    }
</ul>

@code{
    private HubConnection? hubConnection;
    private readonly List<string> _message = new();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl("https://localhost:7254/Times")
        .ConfigureLogging(logging =>
        {
            // Log to the Console
            logging.AddConsole();

            // This will set ALL logging to Debug level
            logging.SetMinimumLevel(LogLevel.Debug);
        })
        .Build();

        hubConnection.On<string>("ServerMessage", message =>
        {
            _message.Add(message);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }


    public async ValueTask DisposeAsync()
    {
        if(hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}
